
.verticalAnchor{
    -fx-background-color: #FFFF00;
}

.originalAnchor{
    -fx-background-color: #fff;
    opacity: 1.0;
}

.rightAnchor{
    -fx-background-color: #000000;
}

.leftAnchor{
    -fx-background-color: #000000;
}

.transparentPane{
    -fx-background-color: #fff;
}

.accessIcon{
    color: #ffffff;

}